
.content{
  margin:24px auto 32px;
  max-width:590px;
  width:100%;
}

.header{
  width:100%;
  height:40px;
  background:#DDD;
}

.main__post{
  textarea{
    margin:0 auto;
    max-width:768px;
    width:100%;
    height:100px;
    border:1px solid #DDD;
    border-radius: 5px;
    display: block;
    padding:4px;
    box-sizing: border-box;
    font-size:14px;
  }
  .send__btn{
    background:#172B4D;
    color:#FFF;
    display: block;
    margin:16px auto;
    max-width:768px;
    width:100%;
    display: block;
    padding:8px;
    font-size:14px;
    border-radius: 100px;
    border:none;
    cursor: pointer;
    &:hover{
      opacity: .8;
    }
  }
}

.data__thread__item{
  padding:16px;
  border-bottom:1px solid #DDD;
  .data__message{
    margin:0 0 16px;
    a{
      color:#333;
      text-decoration: none;
    }
  }
  .user__data{
    font-size:12px;
    color:#999;
    overflow: hidden;
    dt{
      float:left;
    }
    dd{
      margin:0 16px 0 0;
      float:left;
    }
  }
}

.category__navi{
  display: table;
  table-layout: fixed;
  width:100%;
  background:#F6F6F6;

  li{
    box-sizing: border-box;
    display: table-cell;
    border-bottom:1px solid #DDD;

    a{
      display: block;
      padding:20px;
      text-align: center;
      color:#999;
      text-decoration: none;
      font-size:14px;
    }
  }
}

/*どんまいボタン*/
.user__data__favo{
  a{
    color:#59aee0;
    &.favoed{
      font-weight: bold;
      color:#CCC;
    }
  }
}

/*あとで読むボタン*/
.user__data__after{
  a{
    color:#59aee0;
    &.aftered{
      font-weight: bold;
      color:#CCC;
    }
  }
}
